<html>
    
<link rel="stylesheet" href="/styles/hamburgermenuStyles.css">

    <div class="bar">
        <div class="register">
            Hallo, anmelden
        </div>
    
        <div class="barCategories">
            <ul>
                <li><div class="heading">Im Trend</div></li>
                <li class="categorie"><a href="">Bestseller</a></li>
                <li class="categorie"><a href="">Nererscheinung</a></li>
                <li class="categorie"><a href="">Aufsteiger des Tages</a></li>

                <li><div class="heading">Digitale Inhalte & Geräte</div></li>
                <li class="categorie"><a href="">Amazon Music</a></li>
                <li class="categorie"><a href="">Prime Video</a></li>
                <li class="categorie"><a href="">Fire TV </a></li>
            
                <li><div class="heading">Alle Kategorien</div></li>
                <li class="categorie" data-categorie="book"><a href="">Bücher</a></li>
                <li class="categorie"><a href="">File, Serien, Musik & Games</a></li>
                <li class="categorie"><a href=""></a>Elektronik & Computer</li>
                <li class="categorie"><a href="">Sport & Freizeit</a></li>
                <li class="categorie"><a href="">Auto, Motorrad & Gewerbe</a></li>



                <li><div class="heading">Programme & Funktionen</div></li>
                <li class="categorie"><a href="">Handmade </a></li>
                <li class="categorie"><a href="">Luxury Store</a></li>
                <li class="categorie"><a href="">Amazon Outlet</a></li>

                <li><div class="heading">Hilfe & Einstellungen</div></li>
                <li class="categorie"><a href="">Mein Konto</a></li>
                <li class="categorie"><a href="">Sprache</a></li>
                <li class="categorie"><a href="">Anmelden</a></li>

            </ul>
        </div>

    </div>
  

    
</html>