<link rel="stylesheet" href="/styles/header.css">

<header id="mainHeader">
                
    <div class="leftSection">

        <img class="amazonLogo" src="/images/amazon-logo.png" alt="">
        <div class="welcome">
            <div><img class="standortIcons" src="/icons/standort.png" alt=""></div>
            <div>
                <div class="hello">Hello</div>
                <div class="adresse">Lieferadresse wählen</div>
            </div>
        </div>

    </div>

    <div class="middleSection">

        <div class="categories">

            <select>
                    <option value="alle">Alle</option>
                    <option value="Dvd">Dvd</option>
                    <option value="Cd">Cd</option>
            </select>
            <span class="focus"></span>

        </div>
        <div class="search-div">
            <input class="search-bar" type="text">
        </div>
        <button class="search-button">
            <img class="search-icon" src="../../icons/search.svg" alt="">
        </button>

    </div>

    <div class="rightSection">

    </div>

</header>