<html lang="en">
<link rel="stylesheet" href="/styles/nav-bar.css">

    <nav class="main-nav">

        <div class="menu">
            <img class="hamburger-menu" src="icons/hamburger-menu.svg" alt="">
            <div style="margin-left:3px">Alle</div>
        </div>
        
        <%- include("./hamburgermenu.ejs") %>

        <div class="nav-categories-box">
            <div class="nav-categories">Bestselle</div>
            <div class="nav-categories">Amazon Basics</div>
            <div class="nav-categories">Angebote</div>
            <div class="nav-categories">Neuerscheinungen</div>
            <div class="nav-categories">Kundenservice</div>
            <div class="nav-categories">Prime Video</div>  
            <div class="nav-categories">Musik</div>  
            <div class="nav-categories">Prime</div>  
            <div class="nav-categories">Audible</div>  
            <div class="nav-categories">Bücher</div>
            <div class="nav-categories">Games</div>    
        </div>

        <div class="nav-right">
            <div class="right-text">Audible Hörbuch. Jetzt entdecken.</div>
        </div>

    </nav>

    <script>
        const menuDiv =  document.querySelector(".menu");
        menuDiv.addEventListener("click", ()=>{
            menuDiv.classList.toggle("is-active")
        });
    </script>

</html>