<html lang="en">
<link rel="stylesheet" href="/styles/nav-bar.css">

<body>

    <nav class="main-nav">

        <div class="menu">
            <img src="icons/hamburger-menu.svg" alt="">
            <div style="margin-left:3px">Alle</div>
            <div class="bar">

            </div>
        </div>

        <div class="nav-categories-box">
            <div class="nav-categories">Bestselle</div>
            <div class="nav-categories">Amazon Basics</div>
            <div class="nav-categories">Angebote</div>
            <div class="nav-categories">Neuerscheinungen</div>
            <div class="nav-categories">Kundenservice</div>
        <!--<div class="nav-categories">Prime Video</div>  --> 
        </div>

        <div class="nav-right">
            <div class="right-text">Audible Hörbuch. Jetzt entdecken.</div>
        </div>

    </nav>

    <script src="../..//navScript.js"></script>
</body>
</html>