<!DOCTYPE html>
<html>
    <head>
        <title>amazon.de</title>
        <link rel="stylesheet" href="/styles/general.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/nav-bar.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"> 
    </head>

    <body>
        <%- include("./partials/head.ejs") %>


        <%- include("./partials/nav.ejs") %>
            
            <main class="main">

                <section class="advert-previews">
                    
                    <div class="pic-div">
                        <img class="pic" src="images/bg.jpg" alt="">
                    </div>
                    <div class="arrow1"> 
                        &lt;
                    </div>
                    <div class="arrow2">
                        &gt;
                    </div>
                    
                </section>

                <div class="middle-part">

                    <section class="news-grid">

                            <div class="grid-itmes">
                                <div class="news-heading">Gebraucht kaufen, Produkte retten</div>
                                <img class="new-pic" src="images/pic1.jpg" alt="">
                                <div class="news-link">Jetzt entdecken</div>
                            </div>
                            <div class="grid-itmes">
                                <div class="news-heading">So siehst du die UEFA Champions League</div>
                                <img class="new-pic" src="images/pic2.jpg" alt="">
                                <div class="news-link">Mehr erfahren</div>
                            </div>
                            <div class="grid-itmes">
                                <div class="news-heading">Exklusive Prime-Angebote. 11.-12. Oktober.</div>
                                <img class="new-pic" src="images/pic3.jpg" alt="">
                                <div class="news-link">Mehr erfahren</div>
                            </div>

                            <div class="grid-itmes">
                                <div class="news-heading">Lerne Alexa kennen</div>
                                <div class="vierer-grid">
                                    <div>
                                        <img class="vierer-pic" src="images/pic4.jpg" alt="">
                                        <div class="untertitel">Smart Home</div>
                                    </div>
                                    <div>
                                        <img class="vierer-pic" src="images/pic5.jpg" alt="">
                                        <div class="untertitel">Unterhaltung</div>
                                    </div>
                                    <div>
                                        <img class="vierer-pic" src="images/pic6.jpg" alt="">
                                        <div class="untertitel">Produktivität</div>
                                    </div>
                                    <div>
                                        <img class="vierer-pic" src="images/pic7.jpg" alt="">
                                        <div class="untertitel">Privatsphäre</div>
                                    </div>
                                </div>
                                <div class="news-link">Entdecke mehr</div>
                            </div>
                            <div class="grid-itmes">
                                <div class="news-heading">So siehst du die UEFA Champions League</div>
                                <img class="new-pic" src="images/pic2.jpg" alt="">
                                <div class="news-link">Mehr erfahren</div>
                            </div>
                            <div class="grid-button-itmes">
                                <img class="new-button-pic" src="images/pic3.jpg" alt="">
                                <div class="button-div">
                                    <div class="button-div-text">Zum Einkaufen bitte <br> anmelden</div>
                                    <button class="anmelde-button">Sichere Anmeldung</button>
                                </div>
                            </div>

                            <div class="grid-itmes">
                                <div class="news-heading">Gebraucht kaufen, Produkte retten</div>
                                <img class="new-pic" src="images/pic1.jpg" alt="">
                                <div class="news-link">Jetzt entdecken</div>
                            </div>
                            <div class="grid-itmes">
                                <div class="news-heading">So siehst du die UEFA Champions League</div>
                                <img class="new-pic" src="images/pic2.jpg" alt="">
                                <div class="news-link">Mehr erfahren</div>
                            </div>
                            <div class="grid-itmes">
                                <div class="news-heading">Exklusive Prime-Angebote. 11.-12. Oktober.</div>
                                <img class="new-pic" src="images/pic3.jpg" alt="">
                                <div class="news-link">Mehr erfahren</div>
                            </div>
                        

                    </section>
                    
                    <section class="bestseller">
                        <div>Bestseller Bücher</div>

                    </section>
                </div>
            </main>


    </body>


</html>
