<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/header.css">
    <link rel="stylesheet" href="../public/styles/nav-bar.css">
    <link rel="stylesheet" href="../public/styles/general.css">

    <title>Document</title>
</head>
<body>
   

<header id="mainHeader">
                
    <div class="leftSection">

        <img class="amazonLogo" src="images/amazon-logo.png" alt="">
        <div class="welcome">
            <div><img class="standortIcons" src="icons/standort.png" alt=""></div>
            <div>
                <div class="hello">Hello</div>
                <div class="adresse">Lieferadresse wählen</div>
            </div>
        </div>

    </div>

    <div class="middleSection">
        <div class="categories">
            <select>
                    <option value="alle">Alle</option>
                    <option value="Dvd">Dvd</option>
                    <option value="Cd">Cd</option>
            </select>
            <span class="focus"></span>
        </div>
        <div class="search-div">
            <input class="search-bar" type="text">
        </div>
        <button class="search-button">
            <img class="search-icon" src="icons/search.svg" alt="">
        </button>
    </div>
        <div class="rightSection">

        </div>
    </header>

    <nav class="main-nav">
        <div class="menu">
            <img src="icons/hamburger-menu.svg" alt="">
            <div style="margin-left:3px">Alle</div>
        </div>
        <div class="nav-categories-box">
            <div class="nav-categories">Bestselle</div>
            <div class="nav-categories">Amazon Basics</div>
            <div class="nav-categories">Angebote</div>
            <div class="nav-categories">Neuerscheinungen</div>
            <div class="nav-categories">Kundenservice</div>
        <!--<div class="nav-categories">Prime Video</div>  --> 
        </div>
        <div class="nav-right">
            <div class="right-text">Audible Hörbuch. Jetzt entdecken.</div>
        </div>
    </nav>

    <div>
        
    </div>



</body>
</html>