<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/header.css">
    <link rel="stylesheet" href="../public/styles/nav-bar.css">
    <link rel="stylesheet" href="../public/styles/general.css">
    <link rel="stylesheet" href="../public/styles/product.css">
    <title>shop</title>
</head>
<body>
    
<header id="mainHeader">
            
    <div class="leftSection">

        <img class="amazonLogo" src="images/amazon-logo.png" alt="">
        <div class="welcome">
            <div><img class="standortIcons" src="icons/standort.png" alt=""></div>
            <div>
                <div class="hello">Hello</div>
                <div class="adresse">Lieferadresse wählen</div>
            </div>
        </div>

    </div>

    <div class="middleSection">
        <div class="categories">
            <select>
                    <option value="alle">Alle</option>
                    <option value="Dvd">Dvd</option>
                    <option value="Cd">Cd</option>
            </select>
            <span class="focus"></span>
        </div>
        <div class="search-div">
            <input class="search-bar" type="text">
        </div>
        <button class="search-button">
            <img class="search-icon" src="icons/search.svg" alt="">
        </button>
    </div>
        <div class="rightSection">

        </div>
    </header>

    <nav class="main-nav">
        <div class="menu">
            <img src="icons/hamburger-menu.svg" alt="">
            <div style="margin-left:3px">Alle</div>
        </div>
        <div class="nav-categories-box">
            <div class="nav-categories">Bestselle</div>
            <div class="nav-categories">Amazon Basics</div>
            <div class="nav-categories">Angebote</div>
            <div class="nav-categories">Neuerscheinungen</div>
            <div class="nav-categories">Kundenservice</div>
        <!--<div class="nav-categories">Prime Video</div>  --> 
        </div>
    </nav>

    <div class="secondaryNav">
        <a href="">Games</a> 
        <a href="">Best Seller</a> 
        <a href="">Vorbesteller</a>
        <a href="">Angebote</a>
        <a href="">Xbox One</a>
    </div>

    <section id="product">

        <div class="picdiv">
            <div class="pics">
                <img src="../images/valorent_Cover.jpeg" alt="">
            </div>
            <div class="pics">
                <img src="../images/valorent_Cover.jpeg" alt="">
            </div>
        </div>

        <div class="item">
            <div class="productPic">
                <img src="../images/valorent_Cover.jpeg" alt="">
            </div>
            <div class="textContainer">
                <div class="description">Apple AirPods Pro (2. Generation) ​​​​​​​mit MagSafe Ladecase (2022)</div>
                <div class="rating"></div>
            </div>
        </div>

        <div class="buy">
            <div class="used">Neu:</div>
            <div class="price">34$</div>
            <div class="delivery"></div>
            <div class="available">Auf Lager</div>
            <label for="quantity">Menge:</label>
            <select name="quantity" id="quantity">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
            <div class="btnFlex">
                <button class="button cart">In den Einkaufswagen</button>
                <button class="button buyNow">Jetzt kaufen</button>
            </div>
        </div>

    </section>

    </body>
</html>
