<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/login.css">
    <link rel="stylesheet" href="../public/styles/general.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"> 
 

    
    <title>Sign in</title>

</head>
<body>
    <section id="main">
        <div class="logoContainer">
            <img src="../images/amazon_logo_white.jpeg" class="logo">
            <div class="de">.de</div>
        </div>

        <div class="borderContainer">
            <div class="container">
                <div class="heading">
                    Anmelden
                </div>
                <div class="inputLabel">
                    <p>
                        E-Mail-Adresse oder Mobiltelefonnummer
                    </p>
                </div>
                <input type="text">
                <button class="next">Weiter</button>
                <div class="paragraph">
                    <p>
                        Mit Ihrer Anmeldung erklären Sie sich mit unseren
                        <a href="">Allgemeinen Geschäftsbedingungen</a> einverstanden. 
                        Bitte lesen Sie unsere <a href=""> Datenschutzerklärung</a>, unsere <a href="">Hinweise zu
                        Cookies</a> und unsere <a href="">Hinweise zu interessenbasierter Werbung.</a> 
                    </p>
                </div>
                <div class="help">
                <a href="">Benötigst Hilfe?</a> 
                </div>
            </div>
        </div>
        <div class="line"></div>
        <div class="new">
            <p>Neu bei Amazon?</p>
        </div>

        <div class="newAcc">
            <button class="newAccBtn">Dein Amazon Konto erstellen</button>
        </div>

    </section>

    <!-- foooter mkit ejs dann machen -->
    
    <div class="footerLine"></div>

    <hr>

    <footer class="footer">
        <div class="footerContainer">
            <a href="">Unsere AGB</a>
            <a href="">Datenschutzerklärung</a>
            <a href="">Hilfe</a>
            <a href="">Impressum</a>
            <a href="">Hinweise zu Cookies</a>
            <a href="">Hinweis zu interessenbarsierter Werbung</a>
        </div>

        <div class="copyright">
            &copy;1996-2023 Amazon.com, Inc. oder Partner-Unternehmen und Sir Richard Hofmann
        </div>
    </footer>
</body>
</html>