#mainHeader{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;

    background-color: rgb(23, 23, 28);
    color:white;

    display: flex;

    box-sizing: border-box;
}

/*       links       */

.leftSection{
    display: flex;
    align-items: center ;
    width: 300px;
    margin-left: 13px;
    flex-shrink: 0;
}

.amazonLogo{
    height: 50px;
    margin-right: 35px;
    border:transparent 1px solid;
}

.amazonLogo:hover,
.welcome:hover{
  border:white 1px solid;
}

.standortIcons{
    height: 18px;
    margin-top: 8px;
    color: white;
}

.welcome{
    display: flex;
    align-items: center;
    color: white;
    padding: 5px 5px;
    border:transparent 1px solid;
}

.hello{
    color: rgb(211, 209, 209);
    font-size: 13px;
}

.adresse{
    font-size: 14px;
    font-weight: bold;
}

/*   middle section    */

.middleSection{
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 5px;
    margin-right: 10px;
    flex-grow: 1;
    box-sizing: border-box;

}

select{
    appearance: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;

}

:root {
    --select-border: #777;
    --select-focus: blue;
    --select-arrow: var(--select-border);
}

.categories{
    width: 42px;
    height: 22px;
    border-radius:3px 0 0 3px;
    padding:8px 9px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(232, 232, 232);
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    flex-shrink: 0;
}

.categories::after {
    content: "";
    width: 8px;
    height: 4px;
    background-color: black;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}

select,
.categories:after {
    grid-area: select;
}

.search-bar{
    height: 34px;
    border-left-style: solid;
    border-color: rgb(192, 192, 192);
    border-width: 1px;
    margin: 0;
    width: 100%;
}

.search-form{
    flex-grow: 1;
    min-width: none;
    margin-right: 6px;
}

.search-button{
    background-color: rgb(238, 194, 48);
    width: 44px;
    height: 38px;
    border-radius: 0 3px 3px 0;
    border: none;
    
}

.search-icon{
    height: 27px;
    margin-top: 3px;
    margin-left: 3px;
}

/* right section    */

.rightSection{
    display: flex;
    align-items: center;
    width: 470px ;
    
    column-gap: 10px;
    box-sizing: border-box;

}

.header-language{
    border: 1px solid transparent;
    padding: 15px 5px 5px 5px;
    margin-left: 5px;
}

.header-language:hover,
.header-anmelden:hover,
.Warenrücksendung:hover,
.cart:hover{
    border: 1px solid white;
}

.flagge{
    height: 13px;
    margin-right: 3px;
}

.header-language{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    color: white;
    
}

.header-language::after{
    content: "";
    width: 8px;
    height: 4px;
    background-color: rgb(190, 189, 189);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-top: 6px;
    margin-left: 2px;
}

.header-anmelden{
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    padding: 5px 10px -5px 10px;
    box-sizing: border-box;
    white-space:nowrap;
}

.header-anmelden::after{
    content: "";
    width: 8px;
    height: 4px;
    background-color: white;
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
    margin-top: 6px;
    margin-left: 2px;
}

.Warenrücksendung{
    font-size: 12px;
    font-weight: bold;

    padding: 8px 5px;
    border: 1px solid transparent;
}

.bold-sub{
    font-size: 14px;
}

.cart{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    border: 1px solid transparent;
    padding:  4px 7px ;
    
}

.cart-image{
    height: 35px;
    z-index: 1;
}

.cart-image-div{
    position: relative;
    margin-right: 2px;
    
}

.cart-num{
    z-index: 100;
    position: absolute;

    font-size: 20px;
    font-weight: bold;
    color: rgb(207, 139, 11);
    left: 17px;
    top: 2px;
    
}